@import './variables.scss';
@import './mixin.scss';

html,
body .app {
  color: #333333;
  font-family: Arial, Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, sans-serif;
  background-color: $background-color;
}

.app-container {
  padding-bottom: 50px;
}

#__vconsole {
  display: none;
}
#app{
  padding-top: 46px;
}
.van-nav-bar__title,
.van-nav-bar .van-icon{
  font-weight: bold;
  color: $font-color;
}
.fixed{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
h3{
  margin: 0;
}
