// variables
$background-color: #f5f5f5;
$white-color:#ffffff;
$black-color:#1f1f1f;
$grey-color: #a8a8a8;
$grey-deep-color: #b2b2b2;
$font-color:#010101;
$gold-color:#f1c593;
$main-color:#507b92;
$font-size14:14px;
